---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="All about James Maddock, Principal Clinical Myotherapist at My Myo."
	pubDate={new Date('2025-09-24')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		This is where I'll write about who I am, what drives me, how I got here, and what I do. 
	</p>
</Layout>
